:root {
  --secondary: #068ef3;
  --primary: #000a11;
  --sourceContainerBg: #001320;
  --destinationContainerBg: #000508;
  --darkBg: #000b12;
  --bg: #050f16;
  --text: white;
  --lightGray: #868686;
  --tokenInputText: #b5b5b5;
  --tokenInputBg: #000f1a;
  --AddressInputBg: #000406;
  --sourceDropdownBg: #00263f;
  --destinationDropdownBg: black;
  --popOverPanelBg: #040f17;
  --gray: #dedede;
  --circle-shadow: #007cce;
  --border: #3e3e3e;
  --depositButtonDisabled: #171d24;
  --accordianBg: rgba(0, 10, 17, 0.5);
  --skeletonLoaderBg: #1d272e;
}
